<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BBDD1631E4B1F3B00C34AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBDD1771E4B1F3B00C34AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBDD1821E4B1F3B00C34AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BBDD1B11E4B337100C34AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
